.tile{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid;
    place-content: center;
    width: 100px;
    height: 100px; */
}
.tile .chess-piece {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.tile .chess-piece{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}

.tile-green{
    background-color: green;
}

.tile-white{
    background-color: rgb(255, 254, 254);
}