#shessboard{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    background-color: blue;
    height: 800px;
}

.tile{
    width: 100px;
    height: 100px;
}

#shessboard .green{
    background-color: green;
}

#shessboard .white{
    background-color: white;
}